[submodule "html5games/gamess/RetroBowl"]
	path = html5games/gamess/RetroBowl
	url = https://github.com/duffman34/RetroBowl
[submodule "html5games/gamess/retro-bowl-college-working"]
	path = html5games/gamess/retro-bowl-college-working
	url = https://github.com/duffman34/retro-bowl-college-working
[submodule "html5games/gamess/GetawayShootout.github.io"]
	path = html5games/gamess/GetawayShootout.github.io
	url = https://github.com/duffman34/GetawayShootout.github.io
[submodule "html5games/gamess/BasketballLegendsUnblocked.github.io"]
	path = html5games/gamess/BasketballLegendsUnblocked.github.io
	url = https://github.com/duffman34/BasketballLegendsUnblocked.github.io
[submodule "html5games/gamess/BasketballStars"]
	path = html5games/gamess/BasketballStars
	url = https://github.com/duffman34/BasketballStars
[submodule "html5games/gamess/wbwwb"]
	path = html5games/gamess/wbwwb
	url = https://github.com/duffman34/wbwwb
[submodule "html5games/gamess/BasketRandom"]
	path = html5games/gamess/BasketRandom
	url = https://github.com/duffman34/BasketRandom
[submodule "html5games/gamess/bitlife"]
	path = html5games/gamess/bitlife
	url = https://github.com/duffman34/bitlife
[submodule "html5games/gamess/BlumgiSlime"]
	path = html5games/gamess/BlumgiSlime
	url = https://github.com/duffman34/BlumgiSlime
[submodule "html5games/gamess/cubes2048"]
	path = html5games/gamess/cubes2048
	url = https://github.com/duffman34/cubes2048
[submodule "html5games/gamess/drive-mad"]
	path = html5games/gamess/drive-mad
	url = https://github.com/duffman34/drive-mad
[submodule "html5games/66"]
	path = html5games/66
	url = https://github.com/duffman34/66
[submodule "html5games/gamess/slope"]
	path = html5games/gamess/slope
	url = https://github.com/duffman34/slope
[submodule "html5games/gamess/Cluster-rush"]
	path = html5games/gamess/Cluster-rush
	url = https://github.com/duffman34/Cluster-rush
[submodule "html5games/gamess/3kh0"]
	path = html5games/gamess/3kh0
	url = https://github.com/MCRed2024/3kh0
[submodule "html5games/3kh0"]
	path = html5games/3kh0
	url = https://github.com/MCRed2024/3kh0
[submodule "html5games/mountain658.github.io"]
	path = html5games/mountain658.github.io
	url = https://github.com/mountain658/mountain658.github.io
[submodule "html5games/gamess/Block-Blast"]
	path = html5games/gamess/Block-Blast
	url = https://github.com/MCRed2024/Block-Blast
[submodule "gamehub"]
	path = gamehub
	url = https://github.com/duffman34/gamehub
