[submodule "html5games/gamess/RetroBowl"]
	path = html5games/gamess/RetroBowl
	url = https://github.com/duffman34/RetroBowl
[submodule "html5games/gamess/retro-bowl-college-working"]
	path = html5games/gamess/retro-bowl-college-working
	url = https://github.com/duffman34/retro-bowl-college-working
[submodule "html5games/gamess/GetawayShootout.github.io"]
	path = html5games/gamess/GetawayShootout.github.io
	url = https://github.com/duffman34/GetawayShootout.github.io
[submodule "html5games/gamess/BasketballLegendsUnblocked.github.io"]
	path = html5games/gamess/BasketballLegendsUnblocked.github.io
	url = https://github.com/duffman34/BasketballLegendsUnblocked.github.io
[submodule "html5games/gamess/BasketballStars"]
	path = html5games/gamess/BasketballStars
	url = https://github.com/duffman34/BasketballStars
[submodule "html5games/gamess/wbwwb"]
	path = html5games/gamess/wbwwb
	url = https://github.com/duffman34/wbwwb
[submodule "html5games/gamess/BasketRandom"]
	path = html5games/gamess/BasketRandom
	url = https://github.com/duffman34/BasketRandom
[submodule "html5games/gamess/bitlife"]
	path = html5games/gamess/bitlife
	url = https://github.com/duffman34/bitlife
[submodule "html5games/gamess/BlumgiSlime"]
	path = html5games/gamess/BlumgiSlime
	url = https://github.com/duffman34/BlumgiSlime
[submodule "html5games/gamess/cubes2048"]
	path = html5games/gamess/cubes2048
	url = https://github.com/duffman34/cubes2048
